//- Все примеси в этом файле должны начинаться c имени блока (separator)

mixin separator(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +separator('some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' separator--' + modsList[i].trim();
      }
    }

  .separator(class=allMods)&attributes(attributes)
    .separator__inner
      hr.separator__line
