// В этом файле должны быть стили для БЭМ-блока contact, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contact {

  $block-name:                &; // #{$block-name}__element

  &__grid {
    @include row($grid-gutter-width, $grid-gutter-width, $grid-gutter-width, 116px, 116px);
    margin-top: -32px;
  }

  &__item {
    @include col();
    @include col(md, 6);
    @include col(lg, 6, 12, 116px);
    margin-top: 32px;
  }
}
