// В этом файле должны быть стили для БЭМ-блока articles, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.articles {

  $block-name:                &; // #{$block-name}__element

  &--narrow {

    #{$block-name}__grid {

      @media (min-width: $screen-lg) {
        @include row($grid-gutter-width, $grid-gutter-width, $grid-gutter-width, 20px, 20px);
      }
    }

    #{$block-name}__item {
      @include col(lg, 3, $grid-columns, 20px);
    }
  }

  &--grid {

    #{$block-name}__inner {
      margin-left: 0;
      margin-right: 0;
    }

    #{$block-name}__grid {
      @include row();
    }

    #{$block-name}__item {
      max-width: none;
      @include col();
      @include col(sm, 6);
      @include col(md, 4);
      @include col(lg, 3);
    }
  }

  &__inner {
    margin: 0 ($grid-gutter-width / -2);

    @media (min-width: $screen-lg) {
      margin: 0;
    }
  }

  &__grid {
    display: flex;
    margin-top: $grid-gutter-width * -1;
    // overflow-y: hidden;
    // overflow-x: auto;

    @media (min-width: $screen-lg) {
      @include row();
    }
  }

  &__item {
    box-sizing: content-box;
    flex: 0 0 236px;
    max-width: 236px;
    margin-top: $grid-gutter-width;
    padding-right: $grid-gutter-width / 2;
    @include col(lg, 3);

    @media (min-width: $screen-lg) {
      box-sizing: border-box;
    }

    &:first-child {
      padding-left: $grid-gutter-width / 2;
    }
  }
}
