//- Все примеси в этом файле должны начинаться c имени блока (section)

mixin section(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +section('some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' section--' + modsList[i].trim();
      }
    }

  .section(class=allMods)&attributes(attributes)
    .section__inner
      block
