// В этом файле должны быть стили для БЭМ-блока field-text, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field-text {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: $typo-margin-vertical;

  &:last-child {
    margin-bottom: 0;
  }

  &__name {
    @include field-name;
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    @include field-text;

    #{$block-name}--light & {

      @media (min-width: $screen-md) {
        border: 1px solid $gray-light;
        box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.05);
      }
    }

    @at-root textarea#{&} {
      $textarea-height: ($line-height * 2) + ($field-padding-vertical * 2);

      height: 49px;
      min-height: calc(#{$textarea-height} + 2px);
      resize: none;

      @media (min-width: $screen-lg) {
        height: 55px;
      }
    }
  }

  &__help-text {
    @include field-help-text;
  }



  &--error {

    #{$block-name}__name,
    #{$block-name}__input,
    #{$block-name}__help-text {
      color: $color-danger;
    }

    #{$block-name}__input {
      border-color: $color-danger;
      background-color: lighten($color-danger, 35%);
    }
  }
}
