// В этом файле должны быть стили для БЭМ-блока trumpet-call, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.trumpet-call {

  $block-name:                &; // #{$block-name}__element

  height: 100%;
  box-sizing: border-box;

  &__inner {
    height: 100%;
    padding: 28px 16px 128px;
    background-color: $black;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: $text-color-invert;
  }

  &__text {
    margin-bottom: 20px;
    font-weight: 600;

    @media (min-width: $screen-lg) {
      margin-bottom: 40px;
      font-size: $font-size-h3;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
