// В этом файле должны быть стили для БЭМ-блока figure, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.figure {

  $block-name:                &; // #{$block-name}__element

  margin: 0 0 20px;

  @media (min-width: $screen-lg) {
    margin-bottom: 32px;
  }

  &:last-child {
    margin-bottom: 20px;
  }

  &__image {
    display: block;
  }

  &__caption {
    margin-top: 8px;
    font-size: $font-size;
    font-weight: 300;

    @media (min-width: $screen-lg) {
      margin-top: 16px;
    }
  }
}
