//- Стандартный шаблон страницы

include mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    //- Фавиконки (https://realfavicongenerator.net)
    //- link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
    //- link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
    //- link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
    //- link(rel='manifest', href='/img/favicon/site.webmanifest')
    //- link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#5bbad5')
    //- meta(name='msapplication-TileColor', content='#5bbad5')
    //- meta(name='theme-color', content='#000')
    //- meta(name='msapplication-navbutton-color', content='#000')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/style.css')
      script
        include ../js/head-script.js

  body
    noscript У вас отключен JavaScript. Это пугает.

    .page__inner
      .page__content
        block header
          +page-header()
            .page-header__item.page-header__item--burger
              +burger('Показать главное меню', 'page-header', 'page-header--open')
            .page-header__item.page-header__item--logo
              +logo('/')
                img.logo__image(src='img/logo.svg', alt='Газета')
                img.logo__image.logo__image--white(src='img/logo-white.svg', alt='Газета')
            .page-header__item.page-header__item--nav
              +nav()(class='page-header__nav')
                +nav__item('Финансы', '#')
                +nav__item('Отчёты', '#')
                +nav__item('Управление', '#')
                +nav__item('Личные финансы', '#')
                +nav__item('Сторис', '#', 'stories')
                +nav__item('НФ', '#')
              +social('Соцсети:')(class='page-header__social')
                +social-link('#', 'zen')(title='Yandex Zen')
                  svg(width='100%', height='100%')
                    use(xlink:href='/img/sprite.svg#search')
                +social-link('#', 'instagram')(title='Instagram')
                  svg(width='100%', height='100%')
                    use(xlink:href='/img/sprite.svg#search')
                +social-link('#', 'vk')(title='VKontakte')
                  svg(width='100%', height='100%')
                    use(xlink:href='/img/sprite.svg#search')
                +social-link('#', 'telegram')(title='Telegram')
                  svg(width='100%', height='100%')
                    use(xlink:href='/img/sprite.svg#search')
            .page-header__item.page-header__item--search
              +search()

        block content
          p содержимое

      .page__footer-wrapper
        +page-footer()
          block footer
            .page-footer__item
              | &copy;&nbsp;2019 Консалт-бюро &laquo;Нескучные&nbsp;финансы&raquo;, Москва
            .page-footer__item
              | #[a(href='tel:88005518581') 8 800 551-85-81]
              br
              | #[a(href='mailto:hello@noboring-finance.ru') hello@noboring-finance.ru]
            .page-footer__item
              | #[a(href='#', target='_blank') Политика конфиденциальности]

    block page-bottom
      script(src='js/bundle.js')
