// В этом файле должны быть стили для БЭМ-блока search, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.search {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  width: 20px;
  height: 20px;

  @media (min-width: $screen-lg) {
    width: auto;
    margin-left: -40px;
    padding-left: 40px;
    transition: padding 0.3s;
  }

  @media (min-width: $screen-xl) {
    margin-left: -70px;
    padding-left: 70px;
  }

  &--open {
    display: flex;
    align-items: center;
    z-index: 1;

    #{$block-name}__inner {
      position: absolute;
      top: -4px;
      right: 0;
      bottom: -4px;
      width: 280px;
      padding: 4px 0;
      background: $body-bg;

      @media (min-width: $screen-lg) {
        position: static;
      }
    }

    #{$block-name}__icon--close {
      display: block;
    }

    #{$block-name}__input {
      display: block;
      flex-grow: 1;
    }
  }

  &--focused {

    @media (min-width: $screen-lg) {
      padding-left: 0;
    }

    @media (min-width: $screen-xl) {
      padding-left: 0;
    }

    #{$block-name}__input {

      @media (min-width: $screen-lg) {
        max-width: 120px;
        border-bottom: 1px solid $gray-light;
      }

      @media (min-width: $screen-xl) {
        max-width: 150px;
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;

    @media (min-width: $screen-lg) {
      width: auto !important;
    }

    #{$block-name}:not(#{$block-name}--open) & {
      width: auto !important;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    padding: 2px;

    @media (min-width: $screen-lg) {
      display: none !important;
    }

    &--close {
      display: none;
    }
  }

  &__submit {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      margin: 0;
      padding: 2px;
      border: none;
      background: transparent;
      outline: none;
      opacity: $opacity;
      cursor: pointer;
    }
  }

  &__input {
    display: none;
    margin: 0;
    padding: 0 12px;
    border: none;
    background: transparent;
    font-size: 1em;
    font-family: inherit;
    font-weight: 700;
    color: inherit;
    outline: none;

    @media (min-width: $screen-lg) {
      display: block;
      width: 100%;
      max-width: 80px;
      padding: 0;
      margin-left: 12px;
      font-size: $font-size-sm;
      font-weight: 400;
      transition: max-width 0.3s;
    }

    &::placeholder {
      // color: inherit;
      opacity: $opacity;
      text-transform: uppercase;

      @media (min-width: $screen-lg) {
        text-transform: none;
      }
    }
  }
}
