extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  +carousel()
    +owl-carousel()
      +hero('2 марта', '1&nbsp;502', 'Как правильно отражать НДС в&nbsp;управленческой отчетности. Часть 1&nbsp;&mdash; Баланс', 'Планируем и&nbsp;контролируем обязательства по&nbsp;НДС с&nbsp;помощью трех основных отчетов', 'img/carousel-image-1.png', '#')
      +hero('2 марта', '1&nbsp;502', 'Как правильно отражать НДС в&nbsp;управленческой отчетности.', 'Планируем и&nbsp;контролируем обязательства по&nbsp;НДС с&nbsp;помощью трех основных отчетов', 'img/carousel-image-1.png', '#')
      +hero('2 марта', '1&nbsp;502', 'Как правильно отражать НДС в&nbsp;управленческой отчетности. Часть 1&nbsp;&mdash; Баланс', 'Планируем и&nbsp;контролируем обязательства по&nbsp;НДС с&nbsp;помощью трех основных отчетов', 'img/carousel-image-1.png', '#')
      +hero('2 марта', '1&nbsp;502', 'Как правильно отражать НДС в&nbsp;управленческой отчетности.', 'Планируем и&nbsp;контролируем обязательства по&nbsp;НДС с&nbsp;помощью трех основных отчетов', 'img/carousel-image-1.png', '#')

  +section()
    +heading('h2', 'Новые статьи')
    +articles()
      +articles__item()
        +article('img/article-image-1.png', 'Налоговый вычет за&nbsp;квартиру: полная инструкция', '2 марта', '1&nbsp;502', 'orange')
      +articles__item()
        +article('img/article-image-2.png', 'Налоговый вычет за&nbsp;квартиру: полная инструкция', '2 марта', '1&nbsp;502', 'dark, orange', true)
      +articles__item()
        +article('img/article-image-3.png', 'Налоговый вычет за&nbsp;квартиру: полная инструкция', '2 марта', '1&nbsp;502', 'orange')
      +articles__item()
        +trumpet-call('Новые статьи раз в&nbsp;неделю. Без рекламы и&nbsp;спама', 'Подписаться', 'img/trumpet-call-image-1.png')
      +articles__item()
        +article('img/article-image-1.png', 'Налоговый вычет за&nbsp;квартиру: полная инструкция', '2 марта', '1&nbsp;502', 'orange')
      +articles__item()
        +article('img/article-image-4.png', 'Налоговый вычет за&nbsp;квартиру: полная инструкция', '2 марта', '1&nbsp;502', 'orange')
      +articles__item()
        +article('img/article-image-2.png', 'Налоговый вычет за&nbsp;квартиру: полная инструкция', '2 марта', '1&nbsp;502', 'dark, orange', true)
      +articles__item()
        +article('img/article-image-3.png', 'Налоговый вычет за&nbsp;квартиру: полная инструкция', '2 марта', '1&nbsp;502', 'orange')

  +section()
    +heading('h2', 'Финконсультанты отвечают')
    +questions()
      +questions__item()
        +question('Училась иностранкой, стала гражданкой&nbsp;РФ: положен&nbsp;ли вычет на&nbsp;обучение?', 'img/question-expert-image-1.jpg', 'Андрей Фоменко,', 'консультант НФ', '2 марта')
      +questions__item()
        +question('Училась иностранкой, стала гражданкой&nbsp;РФ: положен&nbsp;ли вычет на&nbsp;обучение?', 'img/question-expert-image-1.jpg', 'Андрей Фоменко,', 'консультант НФ', '2 марта')
      +separator()(class='questions__separator')
      +questions__item()
        +question('Училась иностранкой, стала гражданкой&nbsp;РФ: положен&nbsp;ли вычет на&nbsp;обучение?', 'img/question-expert-image-1.jpg', 'Андрей Фоменко,', 'консультант НФ', '2 марта')
      +questions__item()
        +question('Училась иностранкой, стала гражданкой&nbsp;РФ: положен&nbsp;ли вычет на&nbsp;обучение?', 'img/question-expert-image-1.jpg', 'Андрей Фоменко,', 'консультант НФ', '2 марта')

  +section('highlighted')
    .highlighted-section
      .highlighted-section__inner
        +heading('h2', 'Управленцам приготовиться!')(class='highlighted-section__heading')
        +articles-small()
          +articles-small__item('first')
            +article-small('img/article-image-large.png', 'Как правильно отражать НДС в&nbsp;управленческой отчетности. Часть 1&nbsp;&mdash; Баланс', '2 марта', '1&nbsp;502', 'first')
          +articles-small__item()
            +article-small('img/article-image-1.png', 'Как правильно отражать НДС', '2 марта', '1&nbsp;502', 'orange')
          +articles-small__item()
            +article-small('img/article-image-1.png', 'Налоговый вычет за&nbsp;квартиру: полная инструкция', '2 марта', '1&nbsp;502', 'orange')
          +articles-small__item()
            +article-small('img/article-image-1.png', 'Как живет копирайтер в&nbsp;Подмосковье на&nbsp;30&nbsp;000&nbsp;₽', '2 марта', '1&nbsp;502', 'orange')
          +articles-small__item()
            +article-small('img/article-image-1.png', 'Как правильно отражать НДС', '2 марта', '1&nbsp;502', 'orange')
          +articles-small__item()
            +article-small('img/article-image-1.png', 'Налоговый вычет за&nbsp;квартиру: полная инструкция', '2 марта', '1&nbsp;502', 'orange')
        .highlighted-section__button
          +button('Смотреть все', 'small')(href='#')

  +section()
    +heading('h2', 'Сторис', 'Истории наших предпринимателей')
    +stories()
      +stories__item()
        +story('2 марта', '1&nbsp;502', 'Как ивент-агентство поладило с&nbsp;отсрочками, распределяет прибыль и&nbsp;планирует развитие', 'Цветочный магазин и&nbsp;кассовый разрыв', '&laquo;Появись эти инструменты пять лет назад, были&nbsp;бы уже мировой компанией&raquo;', 'img/story-image-1.jpg', false, 'first')
      +stories__item()
        +story('2 марта', '1&nbsp;502', 'Владимир Локтев', 'Цветочный магазин и&nbsp;кассовый разрыв', 'Компания много лет стагнировала, а&nbsp;потом и&nbsp;вовсе попала в&nbsp;жесткий кризис. Хорошо, что руководитель смог в&nbsp;нем разобраться...', 'img/story-image-1.jpg')
      +stories__item()
        +story('2 марта', '1&nbsp;502', 'Владимир Локтев', 'Цветочный магазин и&nbsp;кассовый разрыв', 'Компания много лет стагнировала, а&nbsp;потом и&nbsp;вовсе попала в&nbsp;жесткий кризис. Хорошо, что руководитель смог в&nbsp;нем разобраться...', 'img/story-image-1.jpg', true, 'small-desktop')
      +stories__item()
        +story('2 марта', '1&nbsp;502', 'Владимир Локтев', 'Цветочный магазин и&nbsp;кассовый разрыв', 'Компания много лет стагнировала, а&nbsp;потом и&nbsp;вовсе попала в&nbsp;жесткий кризис. Хорошо, что руководитель смог в&nbsp;нем разобраться...', 'img/story-image-1.jpg', true, 'small-desktop')
    +buttons()
      +button('Читать больше историй', 'main, large')(href='#')

  +section('highlighted')
    .highlighted-section
      .highlighted-section__inner
        +heading('h2', 'Управленцам приготовиться!')(class='highlighted-section__heading')
        +articles-small()
          +articles-small__item('first')
            +article-small('img/article-image-large.png', 'Как правильно отражать НДС в&nbsp;управленческой отчетности. Часть 1&nbsp;&mdash; Баланс', '2 марта', '1&nbsp;502', 'first')
          +articles-small__item()
            +article-small('img/article-image-1.png', 'Как правильно отражать НДС', '2 марта', '1&nbsp;502', 'orange')
          +articles-small__item()
            +article-small('img/article-image-1.png', 'Налоговый вычет за&nbsp;квартиру: полная инструкция', '2 марта', '1&nbsp;502', 'orange')
          +articles-small__item()
            +article-small('img/article-image-1.png', 'Как живет копирайтер в&nbsp;Подмосковье на&nbsp;30&nbsp;000&nbsp;₽', '2 марта', '1&nbsp;502', 'orange')
          +articles-small__item()
            +article-small('img/article-image-1.png', 'Как правильно отражать НДС', '2 марта', '1&nbsp;502', 'orange')
          +articles-small__item()
            +article-small('img/article-image-1.png', 'Налоговый вычет за&nbsp;квартиру: полная инструкция', '2 марта', '1&nbsp;502', 'orange')
        .highlighted-section__button
          +button('Смотреть все', 'small')(href='#')

  +section()
    +heading('h2', 'Подборки статей')
    +articles()
      +articles__item()
        +article('img/article-image-4.png', 'Как считать финансы', '2 марта', '1&nbsp;502', 'compilation, dark, orange', false)
      +articles__item()
        +article('img/article-image-4.png', 'Как считать финансы', '2 марта', '1&nbsp;502', 'compilation, dark, orange', false)
      +articles__item()
        +article('img/article-image-4.png', 'Как считать финансы', '2 марта', '1&nbsp;502', 'compilation, dark, orange', false)
      +articles__item()
        +article('img/article-image-4.png', 'Как считать финансы', '2 марта', '1&nbsp;502', 'compilation, dark, orange', false)
      +articles__item()
        +article('img/article-image-4.png', 'Как считать финансы', '2 марта', '1&nbsp;502', 'compilation, dark, orange', false)
      +articles__item()
        +article('img/article-image-4.png', 'Как считать финансы', '2 марта', '1&nbsp;502', 'compilation, dark, orange', false)
      +articles__item()
        +article('img/article-image-4.png', 'Как считать финансы', '2 марта', '1&nbsp;502', 'compilation, dark, orange', false)
      +articles__item()
        +article('img/article-image-4.png', 'Как считать финансы', '2 марта', '1&nbsp;502', 'compilation, dark, orange', false)

  +section('gray')
    +contact()
      +contact__item()
        +heading('h2', 'Не нашли нужную статью?', 'Расскажите, а мы напишем', 'desktop')
        +select-list('Выберите тему, а&nbsp;дальше мы&nbsp;подскажем...')
          +select-list__item('Финансы')
          +select-list__item('Управление')
          +select-list__item('Личные финансы')
          +select-list__item('Истории предпринимателей')
          +select-list__item('Полезные свойства главреда')
          +select-list__item('Зачем нужен главред')
          +select-list__item('Финансы')
          +select-list__item('Управление')
          +select-list__item('Личные финансы')
          +select-list__item('Истории предпринимателей')
          +select-list__item('Полезные свойства главреда')
          +select-list__item('Зачем нужен главред')
      +contact__item()
        +heading('h2', 'Есть идея для статьи?', 'Расскажите, а мы напишем')
        +form('idea')
          +fieldset()
            +field-text({
              isTextarea: true,
              mods: 'light',
              attrs: {
                placeholder: 'Опишите вашу идею'
              }
            })
          +field-actions()
            +button('ОТПРАВИТЬ', 'link')

  +section()
    +subscribe()
      +subscribe__item()
        +heading('h2', 'Подпишитесь, чтобы получать свежие статьи', '', 'limited-width')
        +subscribe__title('в&nbsp;соцсетях:')
        +social()
          +social-link('#', 'zen')(title='Yandex Zen')
            svg(width='100%', height='100%')
              use(xlink:href='/img/sprite.svg#search')
          +social-link('#', 'instagram')(title='Instagram')
            svg(width='100%', height='100%')
              use(xlink:href='/img/sprite.svg#search')
          +social-link('#', 'vk')(title='VKontakte')
            svg(width='100%', height='100%')
              use(xlink:href='/img/sprite.svg#search')
          +social-link('#', 'telegram')(title='Telegram')
            svg(width='100%', height='100%')
              use(xlink:href='/img/sprite.svg#search')
      +subscribe__item()
        +subscribe__title('по&nbsp;почте, раз в&nbsp;неделю')
        +form('inline')
          +fieldset()
            +field-text({
              attrs: {
                placeholder: 'Напишите эл. почту'
              }
            })
          +field-actions()
            +button('<svg width="28" height="29"><use xlink:href="/img/sprite.svg#arrow-right"></use></svg>', 'main, icon')

  +separator('mobile')


//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
