extends ../pug/layout.pug

block meta
  title Текстовая страница
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +page-header()
    .page-header__item.page-header__item--back
      +back('&larr; К&nbsp;другим статьям')
    .page-header__item.page-header__item--logo
      +logo('/')
        img.logo__image(src='img/logo.svg', alt='Газета')
        img.logo__image.logo__image--white(src='img/logo-white.svg', alt='Газета')
    .page-header__item.page-header__item--share
      +share()

block content
  +carousel()
    +hero('2 марта', '1&nbsp;502', 'Как правильно отражать НДС в&nbsp;управленческой отчетности. Часть 1&nbsp;&mdash; Баланс', 'Планируем и&nbsp;контролируем обязательства по&nbsp;НДС с&nbsp;помощью трех основных отчетов', 'img/carousel-image-1.png', null, 'single')
      .steps.hero__steps
        .steps__inner
          .steps__grid
            .steps__item
              .step
                .step__inner
                  .step__number 1
                  .step__text Куда пропал Российский фигурант дела Манафорта
            .steps__item
              .step
                .step__inner
                  .step__number 2
                  .step__text Куда пропал Российский фигурант дела Манафорта
            .steps__item
              .step
                .step__inner
                  .step__number 3
                  .step__text Куда пропал Российский фигурант дела Манафорта
            .steps__item
              .step
                .step__inner
                  .step__number 4
                  .step__text Куда пропал Российский фигурант дела Манафорта

  +section()
    +content()
      .content__block
        p.lead
          | Лучший учитель финансовой грамотности для собственных детей&nbsp;&mdash; мы&nbsp;сами. Что&nbsp;бы мы&nbsp;им&nbsp;ни&nbsp;рассказывали, они видят и&nbsp;невольно копируют наше финансовое поведение. Выход&nbsp;&mdash; учиться обращению с&nbsp;деньгами самим, расти в&nbsp;этом плане у&nbsp;детей на&nbsp;глазах. И&nbsp;параллельно делиться с&nbsp;ними знаниями, которые приобретаем и&nbsp;применяем сами.
        p
          | В&nbsp;статье рассказываем, как сделать, чтобы ребенок вырос финансово грамотным и&nbsp;во&nbsp;взрослой жизни богател, а&nbsp;не&nbsp;транжирил деньги.
        .content__note
          +person('Александр Афанасьев', 'эксперт по&nbsp;финансам бизнеса, 3&nbsp;детей')
          +person('Игорь Файнман', 'эксперт по&nbsp;частным инвестициям, 1&nbsp;ребенок')
          +person('Руслан Царев', 'редактор, 2&nbsp;детей', 'img/person-1.jpg')
      h2
        | 4&ndash;6&nbsp;лет: познакомьте с&nbsp;деньгами и&nbsp;накоплениями
      .content__block
        p
          | Идеальное время для этого&nbsp;&mdash; 4-6&nbsp;лет. Но&nbsp;если не&nbsp;успели, можно и&nbsp;позже.
        p
          | Расскажите, что такое деньги, зачем они нужны, какого номинала бывают монеты и&nbsp;банкноты, как отличить настоящие купюры от&nbsp;фальшивых. Покажите банкноты и&nbsp;монеты разных номиналов. Продемонстрируйте водяные знаки.
        p
          | Покажите, как работает механизм накоплений, на&nbsp;примере яблок, орехов, денег в&nbsp;копилке. Бросили в&nbsp;копилку одну монетку. На&nbsp;следующий день&nbsp;&mdash; еще одну. И&nbsp;так всю неделю&nbsp;&mdash; и&nbsp;вот у&nbsp;нас уже семь монеток вместо одной.
        .content__note.content__note--tablet
          +note('img/note-1.jpg', 'Почему русские не&nbsp;умеют обращаться с&nbsp;деньгами')
      h2
        | 7–9 лет: поставьте первую финансовую цель
      p
        | Перед ребенком 7-11 лет или старше поставьте первую финансовую цель. Хочет крутую игрушку, модный гаджет, побывать в парке развлечений или еще что-то подобное? Отлично! Это и будет финансовой целью, на которую он сможет накопить из карманных денег. Первые карманные деньги у ребенка обычно появляются после того, как он идет в школу.
      p
        | Даже если вы сопровождаете ребенка на занятия, а школьные завтраки-обеды оплачиваете через банк, то есть ему пока не нужны наличные, какие-то деньги у него должны появиться. Подумайте, за что он будет их получать.
      +text('Рассказывает Александр Афанасьев: &laquo;Моей старшей дочке 8&nbsp;лет. За&nbsp;каждую оценку в&nbsp;четверти ей&nbsp;полагаются деньги: пятерка&nbsp;&mdash; 3&nbsp;000&nbsp;рублей, четверка&nbsp;&mdash; 1&nbsp;500, тройка&nbsp;&mdash; минус 1&nbsp;000. Еще она участвует в&nbsp;разных мероприятиях&nbsp;&mdash; конкурсах, соревнованиях. Занимает призовое место&nbsp;&mdash; получает за&nbsp;это деньги: 3&nbsp;000 рублей за&nbsp;первое место, 1&nbsp;000&nbsp;&mdash; за&nbsp;второе, 500&nbsp;&mdash; за&nbsp;третье. Эти деньги дочка получает не&nbsp;с&nbsp;тем, чтобы потратить. Она мечтает поехать в&nbsp;Диснейленд в&nbsp;Париж и&nbsp;копит на&nbsp;поездку. Мы&nbsp;открыли депозит в&nbsp;банке, и&nbsp;там постепенно собирается нужная сумма&raquo;')
      +figure('img/figure-1.jpg', 'Монетизация школьных оценок полезна для финансовой грамотности детей')
      p
        | Поскольку часть карманных денег ребенок все равно потратит на сиюминутные радости, вместе пройдитесь по магазинам. Пусть видит: везде разные цены на один и тот же товар — йогурт, шоколадку, игрушку. В одном месте дороже, а в другом — дешевле. Посвятите этому пару дней.
      +highlight('Семейный бюджет и&nbsp;финансовая грамотность детей&nbsp;&mdash; среди тем курса &laquo;Денежки&raquo;', 'А&nbsp;в&nbsp;целом этот курс о&nbsp;том, как навести порядок в&nbsp;личных финансах. Вы&nbsp;разберетесь с&nbsp;доходами и&nbsp;расходами, сделаете так, что первых будет больше вторых. Поймете, как сформировать подушку безопасности и&nbsp;достичь финансовой свободы&nbsp;&mdash; состояния, когда вы&nbsp;можете себе позволить работать только потому, что вам это нравится. А&nbsp;необходимый для комфортной жизни доход будет пассивным.', '<b>Что нужно знать, чтобы не&nbsp;попасть на&nbsp;деньги.</b> <a href="#">Почитать »</a>')
      +blockquote('&laquo;Энел&raquo; может продать Рефтинскую гидроэлектростанцию&nbsp;&mdash; возможно, часть денег направят на&nbsp;дивиденды. Но&nbsp;ее&nbsp;пытаются продать уже несколько лет&nbsp;&mdash; и&nbsp;не&nbsp;факт, что деньги не&nbsp;пустят на&nbsp;инвестиции.', '<b>Руслан Царев</b><br>редактор, 2&nbsp;детей')
      +highlight('Семейный бюджет и&nbsp;финансовая грамотность детей&nbsp;&mdash; среди тем курса &laquo;Денежки&raquo;', 'А&nbsp;в&nbsp;целом этот курс о&nbsp;том, как навести порядок в&nbsp;личных финансах. Вы&nbsp;разберетесь с&nbsp;доходами и&nbsp;расходами, сделаете так, что первых будет больше вторых. Поймете, как сформировать подушку безопасности и&nbsp;достичь финансовой свободы&nbsp;&mdash; состояния, когда вы&nbsp;можете себе позволить работать только потому, что вам это нравится. А&nbsp;необходимый для комфортной жизни доход будет пассивным.')
        +button('Узнать больше об&nbsp;интенсиве »', 'main')(href='#')
      +share-custom()
        +share-custom__item('#', 'img/share-vk.svg', 'vk')
          .share-custom__text
            | 142
        +share-custom__item('#', 'img/share-fb.svg', 'fb')
          .share-custom__text
            | 3621
        +share-custom__item('#', 'img/share-tw.svg', 'tw')
        +share-custom__item('#', 'img/share-telegram.svg', 'telegram')
      +publication-data('2 марта', '1&nbsp;502', 'content')

  +section()
    .highlighted-section
      .highlighted-section__inner
        +heading('h2', 'Предыдущие выпуски')(class='highlighted-section__heading')
        +articles('narrow')
          +articles__item()
            +article('img/article-image-5.png', 'На&nbsp;что правильно тратить чистую прибыль', null, null, 'highlighted, purple')
              .article__text
                | Компания много лет стагнировала, а&nbsp;потом и&nbsp;вовсе попала в&nbsp;жесткий кризис. Хорошо, что руководитель смог в&nbsp;нем разобраться...
              .article__button
                +button('Читать историю', 'small')(href='#')
          +articles__item()
            +article('img/article-image-5.png', 'На&nbsp;что правильно тратить чистую прибыль', null, null, 'highlighted, purple')
              .article__text
                | Компания много лет стагнировала, а&nbsp;потом и&nbsp;вовсе попала в&nbsp;жесткий кризис. Хорошо, что руководитель смог в&nbsp;нем разобраться...
              .article__button
                +button('Читать историю', 'small')(href='#')
          +articles__item()
            +article('img/article-image-5.png', 'На&nbsp;что правильно тратить чистую прибыль', null, null, 'highlighted, purple')
              .article__text
                | Компания много лет стагнировала, а&nbsp;потом и&nbsp;вовсе попала в&nbsp;жесткий кризис. Хорошо, что руководитель смог в&nbsp;нем разобраться...
              .article__button
                +button('Читать историю', 'small')(href='#')
          +articles__item()
            +article('img/article-image-5.png', 'На&nbsp;что правильно тратить чистую прибыль', null, null, 'highlighted, purple')
              .article__text
                | Компания много лет стагнировала, а&nbsp;потом и&nbsp;вовсе попала в&nbsp;жесткий кризис. Хорошо, что руководитель смог в&nbsp;нем разобраться...
              .article__button
                +button('Читать историю', 'small')(href='#')
        .highlighted-section__button
          +button('Смотреть все', 'small')(href='#')


//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
