//- Все примеси в этом файле должны начинаться c имени блока (text)

mixin text(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +text('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' text--' + modsList[i].trim();
      }
    }

  .text(class=allMods)&attributes(attributes)
    .text__inner
      .text__text!= text
