// В этом файле должны быть стили для БЭМ-блока form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.form {

  $block-name:                &; // #{$block-name}__element

  &--inline {
    display: flex;
    align-items: center;

    #{$block-name}__fieldset {
      margin-bottom: 0 !important;
    }

    .field-text__input {

      @media (max-width: $screen-lg - 1) {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .field-actions {
      margin-top: 0;

      @media (min-width: $screen-lg) {
        margin-left: 10px;
      }
    }

    .button {

      @media (max-width: $screen-lg - 1) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  &--idea {

    @media (min-width: $screen-md) {
      position: relative;
    }

    .form__fieldset {

      @media (min-width: $screen-md) {
        margin-bottom: 0;
      }
    }

    .field-text__input {
      transition: min-height 0.3s;
    }

    .field-actions {

      @media (min-width: $screen-md) {
        position: absolute;
        right: 24px;
        bottom: 16px;
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
      }
    }
  }

  &--idea-focused {

    .field-text__input {

      @media (min-width: $screen-md) {
        min-height: 245px;
      }

      @media (min-width: $screen-lg) {
        min-height: 250px;
      }
    }

    .field-actions {

      @media (min-width: $screen-md) {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__fieldset {
    min-width: 0;
    margin: 0;
    border: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: $typo-margin-vertical;
    }
  }

  &__legend {
    display: block;
    width: 100%;
    max-width: 100%; // Привет IE
    margin-top: 0;
    margin-bottom: $typo-margin-vertical;
    font-size: $font-size-h3;
    font-family: $font-family;
    font-weight: 700;
    line-height: $line-height;
    white-space: normal; // Привет IE
    color: currentColor;
  }
}
