// В этом файле должны быть стили для БЭМ-блока owl-carousel, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.owl-carousel {

  $block-name:                &; // #{$block-name}__element

  .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    @media (min-width: $screen-md) {
      position: absolute;
      right: 0;
      bottom: 22px;
      left: 0;
      margin-top: 0;
    }

    @media (min-width: $screen-lg) {
      bottom: 52px;
    }
  }

  .owl-dot {
    width: 10px;
    height: 10px;
    margin: 0 6px;
    border: solid 1px $gray-light;
    border-radius: 50%;

    @media (min-width: $screen-md) {
      border-color: $text-color-invert;
    }

    &.active {
      background: $gray-light;

      @media (min-width: $screen-md) {
        background: $text-color-invert;
      }
    }
  }
}
